
<h1>
<%= @subsidiary.name %>
</h1>

<%= @subsidiary.cnpj %>
<%= @subsidiary.address %>
<%= link_to 'Editar', edit_subsidiary_path(@subsidiary) %>
<%= link_to 'Deletar', subsidiary_path(@subsidiary), method: :delete,
data: {confirm: 'Tem certeza?'} %>
