<%= form_with model: @car_category, class: 'ls-form ls-form-horizontal row', local: true do |f| %>
  <div class = 'ls-label col-md-12'>
    <%= f.label :name %>
    <%= f.text_field :name, placeholder: 'ex A'  %>
    </p>
    <p>
    <%= f.label :daily_rate %>
    <%= f.text_field :daily_rate, placeholder: 'ex 1230'  %>
    </p>
    <p>
    <%= f.label :car_insurance %>
    <%= f.text_field :car_insurance, placeholder: 'ex 1203'  %>
    </p>
    <p>
    <%= f.label :third_party_insurance %>
    <%= f.text_field :third_party_insurance, placeholder: 'ex 1202'  %>
  </div>
  <div class="button">
    <div class='ls-actions-btn button'>
        <%= f.submit 'Salvar', class: 'ls-btn', style: "color: rgb(79, 89, 216);" %>
        <%= link_to 'Voltar', url_for(:back), class:"ls-btn" %>
    </div>
  </div>
<% end %>