<%= form_with model: @rental, class: 'ls-form ls-form-horizontal row', local: true do |f| %>
  <div class = 'ls-label col-md-12'>
    <%= f.label :start_date %>
    <%= f.date_field :start_date, placeholder: '00/00/0000' %></p>
    <p>
    <%= f.label :end_date %>
    <%= f.date_field :end_date, placeholder: '00/00/0000' %></p>
    <p>
    <%= f.label :client_id %>
    <%= f.collection_select :client_id, @clients, :id, :identification%>
    <p>
    <%= f.label :car_category_id %>
    <%= f.collection_select :car_category_id, @car_category, :id, :name%>
  </div>
  <div class="button">
    <div class='ls-actions-btn button'>
        <%= f.submit 'Salvar', class: 'ls-btn', style: "color: rgb(79, 89, 216);" %>
        <%= link_to 'Voltar', url_for(:back), class:"ls-btn" %>
    </div>
  </div>
<% end %>