<h1 class="ls-title-intro ls-ico-text"><%= Subsidiary.model_name.human(count: 2) %></h1>
<table class="ls-table">
  <thead>
    <tr>
      <th><%= Rental.human_attribute_name(:code) %></th>
      <th><%= Rental.human_attribute_name(:start_date) %></th>
      <th><%= Rental.human_attribute_name(:end_date) %></th>
      <th><%= Client.human_attribute_name(:name) %></th>
      <th><%= Client.human_attribute_name(:cpf) %></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @rental.code %></td>
      <td><%= l @rental.start_date, format: :default %></td>
      <td><%= l @rental.end_date, format: :default %></td>
      <td><%= @rental.client.name %></td>
      <td><%= @rental.client.cpf %></td>
    </tr>
  </tbody>
</table>

<%= link_to 'Editar', edit_rental_path(@rental), class: "ls-btn blue-theme" %>
<%= link_to 'Cancelar', rental_path(@rental), method: :delete, class: "ls-btn red-delete",
data: { confirm: "Tem certeza de que deseja deletar #{@rental.code}?"} %>
<%= link_to 'Voltar', url_for(:back), class:"ls-btn" %>
<hr>
