<div class="ls-title-intro ls-ico-text">Modelo: <%= CarModel.human_attribute_name(@car_model.name) %></div>

<table class="ls-table">
    <thead>
      <tr>
      <th><%= CarModel.human_attribute_name(:name) %></th>
      <th><%= CarModel.human_attribute_name(:year) %></th>
      <th><%= CarModel.human_attribute_name(:manufacturer_id) %></th>
      <th><%= CarModel.human_attribute_name(:motorization) %></th>
      <th><%= CarModel.human_attribute_name(:car_category_id) %></th>
      <th><%= CarModel.human_attribute_name(:fuel_type) %></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @car_model.name %></td>
      <td><%= @car_model.year %></td>
      <td><%= @car_model.manufacturer.name %></td>
      <td><%= @car_model.motorization %></td>
      <td><%= @car_model.car_category.name %></td>
      <td><%= @car_model.fuel_type %></td>
    </tr>
  </tbody>
</table>

<%= link_to 'Editar', edit_car_model_path(@car_model), class: "ls-btn blue-theme" %>
<%= link_to 'Deletar', car_model_path(@car_model), method: :delete, class: "ls-btn red-delete", data: {confirm: 'Tem certeza?'} %>

<hr>
